*{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
#cardContainer{
    margin-bottom: 75px;
    width: 59%;
}

#registrationCardContainer{
    margin-top: 90px;
}

#registrationCard{
    white-space: nowrap;
}
#carPhoto img{
    max-width: inherit;
    min-width: 200px;
}
#mark img{
    max-width: min-content;
    max-height: 25px;
    align-self: center;
}
#rectangles{

}
#whiteRectangle{
    max-height: 190px;
    min-height: 137px;
    color: #8E8E8E;
    background-color: #E6E6E6;
    align-self: self-end;
    p{
        margin: 8%;
    }
}
#blackRectangle{
    max-height: 200px;
    min-height: 145px;
    color: #FFFFFF;
    background-color: #262626;
    p{
        margin: 8%;
    }
}

#detailsContainer{
    padding: 0px;
}

.blueArticleCard0{
    color: white;
    background-color: #0653B6;
    p{
        a{
            color: white;
        }
    }
    #detailsText{
        font-size: 14px;
    }
}
#blueArticleCard1{
    color: white;
    background-color: #0653B6;
    p{
        a{
            color: white;
        }
    }
    #detailsText{
        font-size: 14px;
    }
}

.selectedService{
    p{
        font-size: 14px;
        color: #262626;
    }
}

.selectedServiceContainer1{
    max-width: 70%;
    margin-right: 20%;
}


#button{
    width: 200px;
}

#button button{
     background-color: #1C69D4;
     border: none;
     color: white;
     padding: 10px 60px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 14px;
}

.ocultar{
    display: none;
}

.closeProductIcon{
    margin-right: 30px;
}

@media (max-width: 576px) {
    .articleCard{
        width: 160%;
    }
    .blueArticleCard0{
        width: 160%;
    }
    .selectedServiceContainer0{
        display: contents;
    }
    .selectedServiceContainer01{
        margin-top: 30px;
        border: 1px solid lightgrey;
        width: 90%;
    }
    #button{
        width: 100px;
    }
}
